.mb{
    display: center;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    width: 180px;
    height: 40px;
    margin: 20px 55px;
    background-color: #9f3cd8;
    color: black;
    
}
.mb1 {
    display: center;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    width: 250px;
    height: 40px;
    margin: 20px 55px;
    background-color: #9f3cd8;
    color: black;
}
.SSD {
    display: center;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    width: 400px;
    height: 40px;
    margin: 20px 55px;
    background-color: #9f3cd8;
    color: black;
}

body {
   background-color: #0acf8d;
}
.tm {
    display: center;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    width: 400px;
    height: 40px;
    margin: 20px 55px;
    background-color: #9f3cd8;
    color: black;
}
.pb{
    display: center;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    width: 400px;
    height: 40px;
    margin: 20px 55px;
    background-color: #9f3cd8;
    color: black;
}